* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  background: #91d2ca;
  perspective: 300px;
  min-height: 100dvh;

  color: var(--text-c);
  font-weight: 300;
  font-family: 'Sora', sans-serif;

  *[lang] { display: none }
  &[lang="ge"] *[lang="ge"] { display: unset }
  &[lang="en"] *[lang="en"] { display: unset }
}

body {
  position: absolute;
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

*[hidden] { display: none }

#canvas-0 {
  max-width: 100%;
  max-height: 40vh;
}

.u-flex-space { flex-grow: 9999 }

#root {
  transform-origin: 50% 50%;
}

.Main {
  --gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap);

  width: 100%;
  height: var(--main-h);
  margin-top: var(--topbar-dh);

  overflow-x: hidden;
  overflow-y: overlay;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  & section {
    --pad: 24px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-bottom: 24px;
    clear: both;

    width: 100%;
    max-width: 556px;
    min-height: calc(var(--main-h) - var(--gap) - var(--pad));
    scroll-snap-align: start;
  }

  & section#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}

.Main__socs {
  --w: 256px;
  --mar-t: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: var(--w);
  margin-top: var(--mar-t);

  & a {
    --s: 32px;
    width: var(--s);
    height: var(--s);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.Root__bg {
  &, & img {
    position: absolute;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
}

.Root__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image:
    linear-gradient(100deg, rgba(255,255,255,0) 19%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 96%),
    linear-gradient(-5deg, rgba(255,255,255,0) 59%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
}

#debug {
  position: fixed;
  right: 0; bottom: 0; left: 0;
  width: 100%;
  padding: 4px;
  white-space: break-spaces;
  background: white;
}

#gmap {
  width: 100%;
  height: 100%;
  max-height: 50vh;
  min-height: initial;
  max-width: initial;
}

.Intro__logo {
  max-width: 100%;
  max-height: 40vh;
}

.TicketsBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 174px;
  height: 46px;
  padding: 0 24px;

  font-size: 20px;
  letter-spacing: 0.001em;
  text-decoration: none;

  color: var(--text-c);

  border: 1px solid var(--text-c);
}

.Btn,
button { font-weight: 300 }

/*DESKTOP*/
@media (min-width: 741px) {
  html {
    font-size: 20px;
  }
  .d-sm { display: none !important }

  section#intro,
  section#info,
  section#team { text-align: center }
}

/* MOBILE  */
@media (max-width: 740px) {
  html {
    font-size: 16px;
  }
  .d-not-sm { display: none !important }
/*  .Root__bg { background-image: url(./assets/angel6.m.png?as=webp); }*/

  .Main > section {
    align-items: flex-start;
    padding: 0 24px;
  }

  .Main__socs {
    --w: 152px;
    & a { --s: 24px }
  }

  .TicketsBtn { font-size: 14px }

  .Root__shadow {
    background-image:
      linear-gradient(80deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%),
      linear-gradient(-5deg, rgba(255,255,255,0) 59%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);
  }
}

